<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>10讯外汇</title>
    <meta name="robots" content="all" />
    <meta name="keywords" content="10讯财经,股票,外汇,基金,黄金,财经评论,新股,港股。" />
    <meta name="description" content="10讯财经网,做专业财经资讯领跑者，实时股票行情，提供宏观、股票、外汇等财经领域的报道；讯息快、内容全、角度丰富并怀有全球视野。" />
    <link rel="shortcut icon" href="http://img.10xunc.com/备用件/css/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://img.10xunc.com/备用件/css/pagination.css">
    <link rel="stylesheet" href="http://img.10xunc.com/备用件/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://img.10xunc.com/备用件/css/common.css">
    <link rel="stylesheet" href="http://img.10xunc.com/备用件/css/EIAmore.css">
</head>
<div class="w">
    <!-- header区域开始 -->
    <div class="header">
        <div class="logo">
           <a href="http://img.10xunc.com/备用件/html/waihui.html"> <img src="http://img.10xunc.com/备用件/img/waihui.png" alt=""></a>
        </div>
        <div class="search">
            <input id="q" name="q" class="query" placeholder="输入代码/名称/拼音">
            <button class="btn1">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
    <!-- header区域结束 -->

    

    <!-- main区域开始 -->
    <div class="main clearfix">
        <div class="main_right">
            <!-- 面包屑导航 -->
            <div class="crumbs">
                <span>油气库存/钻井</span>
            </div>
            <div class="main_content">
                <ul>
                    <li>
                        <div class="con_lf">
                                <a href="#">
                                    <img src="http://img.10xunc.com/备用件/img/advs.jpg" alt="">
                                    <span>推荐要闻</span>
                                </a>
                        </div>
                        <div class="con_rg">
                              <div class="rg_tit">
                                  <a href="#">7月18日财经早餐：美元小幅下滑，黄金白银飙升，EIA成品油库存大增美油跌近2%</a>
                              </div>
                              <div class="rg_bot">
                                  <a href="#">
                                        <span>
                                                周三（7月17日），亚洲交易时段外汇市场表现平平，美元指数企稳与93.7上方，欧系货币小幅走高，纽元加元有所走高，领衔商品货币，但新兴市场货币表现弱势。市场等待稍后英国、欧元区的通货膨胀，或带来
                                        </span>
                                  </a>
                              </div>
                              <div class="rg_sp" >
                                 <div class="time">
                                         <span>2019-07-24 06:07</span>
                                 </div>
                                <div class="reading">
                                        <a href="#"><img src="#" alt=""></a>
                                    <span>5546</span>
                                </div>
                                
                              </div>
                        </div>
                        
                    </li>
                    
                    
                </ul>
            </div>
            <!-- 分页 -->
            <div class="paging">
                <div class="m-style M-box11">
                    <a href="javascript:;" class="prev">&lt;</a>
                    <a href="javascript:;" data-page="1">1</a>
                    <a href="javascript:;" data-page="2">2</a>
                    <span class="active">3</span>
                    <a href="javascript:;" data-page="4">4</a>
                    <a href="javascript:;" data-page="5">5</a>
                    <a href="javascript:;" class="next">&gt;</a>
                </div>
            </div>
        </div>
        <!-- 主体右边开始 -->
        <div class="mainR">
                <!-- 主体右边第一部分开始 -->
                <div class="mainRo">
                    <table>
                        <thead>
                            <tr>
                                <td><span></span><span style="color: #c30d23">行情</span></td>
                                <td data-id="#one" class="ac">外汇</td>
                                <td data-id="#two">贵金属</td>
                                <td data-id="#three">股指</td>
                            </tr>
                        </thead>
                        <tbody id="one" class="ac">
                            <tr>
                                <td><span></span></td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                            <tr>
                                <td>英镑美元</td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                            <tr>
                                <td>英镑美元</td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                            <tr>
                                <td>英镑美元</td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                            <tr>
                                <td>英镑美元</td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                        </tbody>
                        <tbody id="two">
                            <tr>
                                <td>英镑美元</td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                            <tr>
                                <td>英镑美元</td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                            <tr>
                                <td>英镑美元</td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                            <tr>
                                <td>英镑美元</td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                            <tr>
                                <td>英镑美元</td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                        </tbody>
                        <tbody id="three">
                            <tr>
                                <td>英镑元</td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                            <tr>
                                <td>英镑美元</td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                            <tr>
                                <td>英镑美元</td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                            <tr>
                                <td>英镑美元</td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                            <tr>
                                <td>英镑美元</td>
                                <td>1.2480</td>
                                <td>-0.0004</td>
                                <td>-0.03%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 主体右边第一部分结束 -->

                <!-- 主体右边第二部分开始 -->
                <div class="mainRt">
                    <table>
                        <thead>
                            <tr>
                                <td colspan="4">国际黄金</td>
                                <!-- <td></td>
                                <td></td> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>名称</td>
                                <td>最新价</td>
                                <td>涨跌</td>
                                <td>涨跌幅</td>
                            </tr>
                            <tr>
                                <td>现货黄金</td>
                                <td>1336.60</td>
                                <td>1333.45</td>
                                <td>1333.45</td>
                            </tr>
                            <tr>
                                <td>黄金（美元）</td>
                                <td>1336.60</td>
                                <td>1333.45</td>
                                <td>1333.45</td>
                            </tr>
                            <tr>
                                <td>黄金（美元）</td>
                                <td>1336.60</td>
                                <td>1333.45</td>
                                <td>1333.45</td>
                            </tr>
                            <tr>
                                <td>黄金（美元）</td>
                                <td>1336.60</td>
                                <td>1333.45</td>
                                <td>1333.45</td>
                            </tr>
                            <tr>
                                <td>黄金（美元）</td>
                                <td>1336.60</td>
                                <td>1333.45</td>
                                <td>1333.45</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 主体右边第二部分结束 -->

                <!-- 主体右边第三部分开始 -->
                <div class="mainRth">
                        <table>
                                <thead>
                                    <tr>
                                        <td colspan="4">全球股指</td>
                                        <!-- <td></td>
                                        <td></td> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>名称</td>
                                        <td>最新价</td>
                                        <td>涨跌</td>
                                        <td>涨跌幅</td>
                                    </tr>
                                    <tr>
                                        <td>黄金（美元）</td>
                                        <td>1336.60</td>
                                        <td>+0.13%</td>
                                        <td>10:15</td>
                                    </tr>
                                    <tr>
                                        <td>黄金（美元）</td>
                                        <td>1336.60</td>
                                        <td>+0.13%</td>
                                        <td>10:15</td>
                                    </tr>
                                    <tr>
                                        <td>黄金（美元）</td>
                                        <td>1336.60</td>
                                        <td>+0.13%</td>
                                        <td>10:15</td>
                                    </tr>
                                    <tr>
                                        <td>黄金（美元）</td>
                                        <td>1336.60</td>
                                        <td>+0.13%</td>
                                        <td>10:15</td>
                                    </tr>
                                    <tr>
                                        <td>黄金（美元）</td>
                                        <td>1336.60</td>
                                        <td>+0.13%</td>
                                        <td>10:15</td>
                                    </tr>
                                </tbody>
                            </table>
                </div>
                <!-- 主体右边第三部分结束 -->

                <!-- 主体第四部分开始 -->
                <div class="mainRf">
                    <div class="mainRfo">
                        <img src="http://img.10xunc.com/备用件/img/test.jpg" alt="" class="mmo">
                    </div>
                    <div class="mainRfo">
                        <img src="http://img.10xunc.com/备用件/img/test.jpg" alt="" class="mmt">
                    </div>
                </div>
                <!-- 主体第四部分结束 -->
            </div>
            <!-- 主体右边结束 -->
    </div>
    <!-- main区域结束 -->

    <!-- footer区域开始 -->
    <div class="footer clearfix">
        <p style="text-align: left;">
            <span class="fs">
                免责声明：沪深股票、基金、债券、港股、美股、国内期货、外汇、黄金等行情，除有特别标明外，均为实时行情；
                其他行情至少延时15分钟.10讯财经免费提供的行情数据以及其他资料均来自互联网采集或合作方，仅作为用户获取信息之目的，
                并不构成投资建议.10讯财经以及其合作机构不为本页面提供的信息错误、残缺、延时或因依靠此信息所采取的任何行动负责.市场有风险，投资需谨慎
            </span>
        </p>
            <p>
                <span>Copyright © 2017 10讯财经 版权所有 </span>
                <span>粤ICP备17093768号-1</span>
                <a href="http://img.10xunc.com/备用件/img/网络文化许可副本.jpg">粤网文(2017)8215-2007号</a>
                <span>联系邮箱：weisihudong@163.com</span>
            </p>
            <p>
                <a href="http://img.10xunc.com/备用件/img/增值电信业务经营许可证.jpg">增值电信业务经营许可证粤B2-20171195</a>&nbsp;
                <a href="http://img.10xunc.com/备用件/img/广播电视节目许可证.jpg">广播电视节目制作经营许可证(粤)字第03379号</a>
                <span>粤公网安备 44030702001623号</span>
            </p>
            <p>
                <span>本网站部分内容来源于互联网，如有侵犯请来信告知，我们将立即处理！</span>
            </p>
        </div>
    <!-- footer区域结束 -->

</div>
</body>

</html>
<script src="http://img.10xunc.com/备用件/js/jquery-3.3.1.min.js"></script>
<script src="http://img.10xunc.com/备用件/js/bootstrap.min.js"></script>
<script src="http://img.10xunc.com/备用件/js/template-web.js"></script>
<script src="http://img.10xunc.com/备用件/js/jquery.pagination.js"></script>
<script src="http://img.10xunc.com/备用件/js/EIAmore.js"></script>
<script>
    $(function(){
    //广告图片开始
    $.ajax({
            type:"post",
            url:"http://www.10xunc.com/WSHD/jiekou7/getADImage",
            dataType:"JSON",
            data:{
                style:3,
                id:16
            },
            success:function(res){
                $("img.mmo").attr("src",res.data.imageUrl);
            }
    });
    $.ajax({
            type:"post",
            url:"http://www.10xunc.com/WSHD/jiekou7/getADImage",
            dataType:"JSON",
            data:{
                style:3,
                id:16
            },
            success:function(res){
                $("img.mmt").attr("src",res.data.imageUrl);
            }
    });


    })
    
</script>
<!--EIA模板 -->
<script id="EIA" type="text/html">
    <ul>
        {{each list value i}}
         {{if i<=0}}
         <li>
                
                <div class="con_rg">
                      <div class="rg_tit">
                          <a href="{{value.http_url+'?id='+value.id+'&table_name='+value.table_name}}">{{value.news_title}}</a>
                          
                      </div>
                      <div class="rg_bot">
                          <a href="{{value.http_url+'?id='+value.id+'&table_name='+value.table_name}}">
                                <span>
                                    {{value.news_introduction}}
                                </span>
                          </a>
                      </div>
                      <div class="rg_sp" >
                         <div class="time">
                                 <span>{{value.news_time}}</span>
                         </div>
                        <!-- <div class="reading">
                                <a href="{{value.http_url+'?id='+value.id+'&table_name='+value.table_name}}"><img src="{{value.author_img}}" alt=""></a>
                            <span>{{value.click_rate}}</span>
                        </div> -->
                        
                      </div>
                </div>
                <div class="con_lf">
                        <a href="{{value.http_url+'?id='+value.id+'&table_name='+value.table_name}}">
                            <img src="{{value.news_img}}" alt="">
                            <span>推荐要闻</span>
                        </a>
                </div>
            </li>
         {{/if }}
         {{if i>=1}}
         <li>
                <div class="con_lf">
                        <a href="{{value.http_url+'?id='+value.id+'&table_name='+value.table_name}}">
                            <img src="{{value.news_img}}" alt="">
                        </a>
                </div>
                <div class="con_rg">
                      <div class="rg_tit">
                          <a href="{{value.http_url+'?id='+value.id+'&table_name='+value.table_name}}">{{value.news_title}}</a>
                      </div>
                      <div class="rg_bot">
                          <a href="{{value.http_url+'?id='+value.id+'&table_name='+value.table_name}}">
                                <span>
                                    {{value.news_introduction}}
                                </span>
                          </a>
                      </div>
                      <div class="rg_sp" >
                         <div class="time">
                                 <span>{{value.news_time}}</span>
                         </div>
                        <!-- <div class="reading">
                                <a href="{{value.http_url+'?id='+value.id+'&table_name='+value.table_name}}"><img src="{{value.author_img}}" alt=""></a>
                            <span>{{value.click_rate}}</span>
                        </div> -->
                        
                      </div>
                </div>
                
            </li>
         {{/if}}
        
        {{/each}}
    </ul>
</script>
