/* header头部开始 */
header{
    width: 1000px;height: 63px;
    border-bottom: 3px solid #c30d23;
    display: flex
}
header>div.logo{
    width: 290px;height: 42px;
    margin-top: 5px;
}
header>div.logo>img{
    width: 100%;height: 100%;
}
header>div.search{
    margin-left: 115px;
    margin-top: 12px;
    border: 1px solid #e6e6e6;
    width: 467px;height: 35px;
}
header>div.search:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}
header>div.search i{
   display: inline-block;
   font-size: 21px;
   color: #e6e6e6;
   float: left;
   margin-left: 10px;
   margin-top: 5px;
}
header>div.search input{
    float: left;
    display: inline-block;
    width: 346px;height: 33px;
    /* border: 1px solid black; */
    margin-left: 10px;
}
header>div.search button.btn1{
    /* float: left; */
    width: 78px;height: 34px;
    background-color: #c30d23;
    /* margin-left: -5px; */
}
/* header头部结束 */

/* 登录注册 */
header .lgin{
    width: 118px;
    height: 32px;
    margin-left: 5px;
    font-size: 16px;
    /* background-color: #c30d23; */
    /* overflow: hidden; */
    margin-top: 14px;
}
header .lgin a:first-child{
    display: inline-block;
    width: 55px;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}
/* nav导航栏开始 */
.nav{
    width: 1000px;
    margin-top: 10px;
}
/* 导航栏头部 */
.nav .navTop ul:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;width: 0;
}
.nav .navTop ul li{
    cursor: pointer;
    font-size: 24px;
    /* width: 90px; */
    float: left;
    /* text-align: center; */
    margin-right: 30px;
}
.nav .navTop ul li.active a{
    color: #c30d23;
}
.nav .navTop ul li:last-child{
    font-size: 24px;
    /* width: 90px; */
    float: left;
    /* text-align: center; */
    margin-right: 0;
}
/* 导航栏底部开始 */
.nav .navBot{
    margin-top: 20px;
}
.nav .navBot p:first-child{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}
.nav .navBot p:first-child span:nth-child(1){
    color: #036eb8;
}
.nav .navBot p:first-child span:nth-child(3){
    color: #036eb8;
}
.nav .navBot p:last-child{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #e6e6e6;
}
/* 导航栏底部结束 */
/* 导航栏结束 */

/* main主体开始 */
.main{
    width: 1000px;
    margin-top: 10px;
    border-top: 5px solid #036eb8;
}
/* main顶部开始 */
.main .mainT span{
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}
.main .mainT span:nth-child(1){
    font-size: 16px;
    font-weight: bold;
}
.main .mainT span:nth-child(2){
    margin-left: 835px;
}
.main .mainT span:nth-child(2) input{
    width: 20px;
    height: 20px;
}
.main .mainT span:nth-child(4){
    display: inline-block;
    background-image:url(http://img.10xunc.com/备用件/img/tpjh2.png);
    background-repeat: no-repeat;
    background-position: -258px -491px;
    width: 25px;
    height: 30px;
    cursor: pointer;
}
/* main顶部结束 */
/* main底部开始 */
.main .mainBot{
    width: 1000px;
}
.main .mainBot li{
    border: 1px solid #e6e6e6;
    border-right: none;
    cursor: pointer;
}
.main .mainBot li+li{
    border-top: none;
}
.main .mainBot li:hover{
    background-color: #DBEAF7;
    
}
main .mainBot li:after{
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}
.main .mainBot li>span{
    float: left;
}
.main .mainBot ul li span:nth-child(1){
    color: #036eb8;
}
.main .mainBot ul li span:nth-child(2){
    color: #036eb8;
    margin-right: 15px;
    margin-left: 5px;
    margin-top: 1px;
}
.main .mainBot ul li span a{
    display: inline-block;
    width: 825px;
}
.main .mainBot ul li:after{
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}
.main .mainBot ul li>a{
    float: right;
    
}


.main .mainBot ul li a:last-child span{
    display: inline-block;
    background-image:url(http://img.10xunc.com/备用件/img/tpjh2.png);
    background-repeat: no-repeat;
    background-position: -225px -495px;
    width: 25px;
    height: 17px
}

/* main底部结束 */


/* footer开始 */
footer{
    margin-top: 15px;
}
footer p span{
    font-size: 14px;
    margin-right: 10px;
}
footer p{
    width: 1000px;
    line-height: 20px;
    text-align: center;
}
footer p:nth-child(2){
    text-align: center;
    margin-top: 10px;
}
footer p:nth-child(3){
    text-align: center;
    margin-top: 10px;
}
footer p:nth-child(4){
    text-align: center;
    margin-top: 10px;
}
/* footer结束 */