.w{
    width: 1200px !important;
}
/* header头部开始 */
header{
    width: 1200px;
    height: 63px;
    border-bottom: 3px solid #c30d23;
    display: flex
}
header>div.logo{
    width: 290px;height: 42px;
    margin-top: 5px;
}
header>div.logo>img{
    width: 100%;height: 100%;
}
header>div.search{
    margin-left: 300px;
    margin-top: 12px;
    border: 1px solid #e6e6e6;
    width: 467px;height: 35px;
}
header>div.search:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}
header>div.search i{
   display: inline-block;
   font-size: 21px;
   color: #e6e6e6;
   float: left;
   margin-left: 10px;
   margin-top: 5px;
}
header>div.search input{
    float: left;
    display: inline-block;
    width: 346px;height: 33px;
    /* border: 1px solid black; */
    margin-left: 10px;
}
header>div.search button.btn1{
    /* float: left; */
    width: 78px;height: 34px;
    background-color: #c30d23;
    /* margin-left: -5px; */
}
/* 登录注册 */
header .lgin{
    width: 118px;
    height: 32px;
    margin-left: 5px;
    font-size: 16px;
    /* background-color: #c30d23; */
    /* overflow: hidden; */
    margin-top: 14px;
}
header .lgin a:first-child{
    display: inline-block;
    width: 55px;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}
/* header头部结束 */

/* nav导航栏开始 */
.nav{
    width: 1200px;
    margin-top: 10px;
}
/* 导航栏头部 */
.nav .navTop ul:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;width: 0;
}
.nav .navTop ul li{
    cursor: pointer;
    font-size: 24px;
    /* width: 90px; */
    float: left;
    /* text-align: center; */
    margin-right: 38px;
}
.nav .navTop ul li.active a{
    color: #c30d23;
}
.nav .navTop ul li:last-child{
    font-size: 24px;
    /* width: 90px; */
    float: left;
    /* text-align: center; */
    margin-right: 0;
}
/* 导航栏结束 */

/* main主体开始 */
.main{
    width: 1200px;
    margin-top: 10px;
}
/* name */
.main .name{
    width: 1200px;
    height: 50px;
    line-height: 50px;
}
.main .name span:first-child{
    display: inline-block;
    background-image:url(../../../img/tpjh2.png);
    background-repeat: no-repeat;
    background-position: -64px -857px;
    width: 31px;
    height: 31px;
}
.main .name span{
    font-size: 20px;
    vertical-align: middle;
}
.main .mTop{
    width: 1200px;
    /* height: 460px; */
    /* background-color: #e6e6e6; */
    display: flex;
    border-top: 1px solid #cccccc;
    padding-top: 10px;
}
.main .mTop .slider{
    position: relative;
}
.main .mTop .slider img{
    display: block;
    width: 855px;
    height: 400px;
}
.main .mTop .slider .buy{
    width: 855px;
    height: 400px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: .5;
    padding-top: 140px;
}
.main .mTop .slider .buy p span{
    font-size: 30px;
    color: #fff;
}
.main .mTop .slider .buy a{
    display: inline-block;
    width: 220px;
    height: 60px;
    line-height: 60px;
    background-color: #C20E22;
    color: #fff;
    font-size: 30px;
    border-radius: 3px;
}
.main .mTop .slider .Mtitle{
    width: 855px;
    height: 50px;
    line-height: 50px;
    background-color: #e6e6e6;
}
.main .mTop .slider .Mtitle a{
    color: #fff;
    font-size: 16px;
    margin-left: 15px;
    font-weight: bold;
}
.main .mTop .news{
    width: 335px;
    margin-left: 10px;
}
.main .mTop .news .wqhg{
    height: 30px;
    font-size: 16px;
    color: #c30d23;
    position: relative;
}
.main .mTop .news .wqhg span{
    position:absolute;
    top: -4px;
    left: 1px;
    font-size: 16px;

}

.main .mTop .news .scroll{
    width: 335px;
    height: 360px;
    margin-bottom: 15px;
    overflow: hidden;
    overflow-y: scroll;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    /* padding-top: 10px; */
}
/*定义滚动条样式（高宽及背景）*/ 
.scroll::-webkit-scrollbar { 
    width: 6px;   /* 滚动条宽度， width：对应竖滚动条的宽度  height：对应横滚动条的高度*/
    background: #fff;
    cursor: pointer;
}
/*定义滑块 样式*/ 
.scroll::-webkit-scrollbar-thumb { 
    border-radius: 3px; 
    height: 100px;    /* 滚动条滑块长度 */
    background-color: #000;
    cursor: pointer;
}
 /*定义滚动条轨道（凹槽）样式*/ 
 .scroll::-webkit-scrollbar-track { 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);    /* 较少使用 */
    border-radius: 3px;
    cursor: pointer;
}
.main .mTop .news .scroll .new{
    height: 70px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
}
.main .mTop .news .scroll .new img{
    display: inline-block;
    width: 80px;
    height: 50px;
    margin-right: 10px;
}
.main .mTop .news .scroll .new ul li:first-child{
    margin-bottom: 10px;
}
.main .mTop .news .scroll .new ul li:first-child a:nth-child(1){
    margin-right: 5px;
}
.main .mTop .news .scroll .new ul li:first-child a{
    font-weight: bold;
}
.main .mTop .news .scroll .new ul li:last-child a{
    display: inline-block;

}
.main .mTop .news .scroll .new ul li:last-child a:first-child{
    display: inline-block;
    background-image:url(../../../img/tpjh2.png);
    background-repeat: no-repeat;
    background-position: -118px -839px;
    width: 14px;
    height: 13px;
}
.main .mTop .news .scroll .new ul li:last-child a:last-child{
    width: 23px;
    height: 17px;
    line-height: 18px;
    color: #fff;
    background-color: #C20E22;
}
.main .mTop .news .buy{
    height: 45px;
    line-height: 45px;
    background-color: #C20E22;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
}
.main .mTop .news .buy a{
    color: #fff;
    font-size: 16px;
}
/* 个人资料 */
.main .intro{
    width: 1200px;
    height: 255px;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: 5px 5px 5px #ccc;
}
.main .intro>span:first-child{
    display: inline-block;
    background-image:url(../../../img/tpjh2.png);
    background-repeat: no-repeat;
    background-position: -93px -859px;
    width: 40px;
    height: 30px;
}
.main .intro>span{
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    margin-top: 8px;
    margin-left: 5px;
}
.main .intro .card{
    width: 1200px;
    border-top: 1px solid #ccc;
    margin-top: 8px;
    display: flex;
}
.main .intro .card .L{
    width: 860px;
    height: 210px;
    flex-shrink: 0;
    border-right: 2px solid #ccc;
    margin-top: 13px;
    display: flex;
    padding-right: 10px;
}
.main .intro .card .L img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
.main .intro .card .L ul li:first-child{
    font-size: 20px;
}
.main .intro .card .L ul li:last-child{
    font-size: 16px;
    text-indent: 30px;
}
.main .intro .card .R{
    padding-left: 10px;
    margin-top: 10px;
    padding-right: 15px;
}
.main .intro .card .R ul li:first-child{
    font-size: 20px;
}
.main .intro .card .R ul li:last-child{
    font-size: 16px;
    text-indent: 30px;
}
/* 相关课程 */
.main .course{
    width: 1200px;
    margin-top: 20px;
}
.main .course>span:first-child{
    display: inline-block;
    background-image:url(../../../img/tpjh2.png);
    background-repeat: no-repeat;
    background-position: -93px -859px;
    width: 40px;
    height: 30px;
}
.main .course>span{
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    margin-top: 8px;
    margin-left: 5px;
}
.main .Xcards{
    width: 1200px;
    border-top: 2px solid #ccc;
    margin-top: 10px;
    margin-right: 15px;
    display: flex;
    flex-flow:row wrap;
}
.main .Xcards .Xcard{
    width: 280px;
    height: 240px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 20px;
    flex-shrink: 0;
}
.main .Xcards .Xcard>a img{
    display: block;
    width: 280px;
    height: 180px;
}
.main .Xcards .Xcard .bottom{
    width: 280px;
    height: 60px;
    background-color: #e6e6e6;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}
.main .Xcards .Xcard .bottom p:first-child a:first-child{
    display: inline-block;
    width: 27px;
    height: 20px;
    background-color: #c30d23;
    color: #fff;
    margin-right: 5px;
}
.main .Xcards .Xcard .bottom p:last-child{
    margin-top: 2px;
}
.main .Xcards .Xcard .bottom p:last-child a:nth-child(1){
   /* margin-left: -50px; */
   color: #c30d23;
}
.main .Xcards .Xcard .bottom p:last-child a:nth-child(2){
    margin-right: 50px;
 }
/* main主体结束 */

/* footer开始 */
footer{
    margin-top: 15px;
}
footer p span{
    font-size: 14px;
    margin-right: 10px;
}
footer p{
    width: 1000px;
    line-height: 20px;
    text-align: center;
}
footer p:nth-child(2){
    text-align: center;
    margin-top: 10px;
}
footer p:nth-child(3){
    text-align: center;
    margin-top: 10px;
}
footer p:nth-child(4){
    text-align: center;
    margin-top: 10px;
}
/* footer结束 */