.w{
    width: 1200px !important;
}
/* header头部开始 */
header{
    width: 1200px;
    height: 63px;
    border-bottom: 3px solid #c30d23;
    display: flex
}
header>div.logo{
    width: 290px;height: 42px;
    margin-top: 5px;
}
header>div.logo>img{
    width: 100%;height: 100%;
}
header>div.search{
    margin-left: 300px;
    margin-top: 12px;
    border: 1px solid #e6e6e6;
    width: 467px;height: 35px;
}
header>div.search:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}
header>div.search i{
   display: inline-block;
   font-size: 21px;
   color: #e6e6e6;
   float: left;
   margin-left: 10px;
   margin-top: 5px;
}
header>div.search input{
    float: left;
    display: inline-block;
    width: 346px;height: 33px;
    /* border: 1px solid black; */
    margin-left: 10px;
}
header>div.search button.btn1{
    /* float: left; */
    width: 78px;height: 34px;
    background-color: #c30d23;
    /* margin-left: -5px; */
}
/* 登录注册 */
header .lgin{
    width: 118px;
    height: 32px;
    margin-left: 5px;
    font-size: 16px;
    /* background-color: #c30d23; */
    /* overflow: hidden; */
    margin-top: 14px;
}
header .lgin a:first-child{
    display: inline-block;
    width: 55px;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}
/* header头部结束 */

/* nav导航栏开始 */
.nav{
    width: 1200px;
    margin-top: 10px;
}
/* 导航栏头部 */
.nav .navTop ul:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;width: 0;
}
.nav .navTop ul li{
    cursor: pointer;
    font-size: 24px;
    /* width: 90px; */
    float: left;
    /* text-align: center; */
    margin-right: 38px;
}
.nav .navTop ul li.active a{
    color: #c30d23;
}
.nav .navTop ul li:last-child{
    font-size: 24px;
    /* width: 90px; */
    float: left;
    /* text-align: center; */
    margin-right: 0;
}
/* 导航栏结束 */

/* main主体开始 */
.main{
    width: 1200px;
    margin-top: 10px;
}
.main p:nth-child(1){
    border-bottom: 1px solid #cccccc;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.main p:nth-child(1) span{
    font-size: 30px;
}
.main p:nth-child(2){
    margin-top: 40px;
    text-align: center;
}
.main p:nth-child(2) span{
    display: inline-block;
    background-image:url(../../../img/tpjh2.png);
    background-repeat: no-repeat;
    background-position: 0px -996px;
    width: 220px;
    height: 220px;

}
.main p:nth-child(3){
    text-align: center;
}
.main p:nth-child(3) span{
    display: inline-block;
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #37B135;
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
}
.main p:nth-child(4){
    margin-top: 50px;
    padding-left: 135px;
}
.main p:nth-child(4) span:first-child{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 105px;
    margin-right: 90px;
}
.main p:nth-child(4) span:last-child{
    display: inline-block;
    font-size: 16px;
    color: #cccccc;
}
.main p:nth-child(5){
    margin-top: 20px;
    padding-left: 135px;
}
.main p:nth-child(5) span:first-child{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 105px;
    margin-right: 90px;
}
.main p:nth-child(5) span:last-child{
    display: inline-block;
    font-size: 16px;
    color: #cccccc;
}
.main p:nth-child(6){
    margin-top: 20px;
    padding-left: 135px;
}
.main p:nth-child(6) span:first-child{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 105px;
    margin-right: 90px;
}
.main p:nth-child(6) span:last-child{
    display: inline-block;
    font-size: 16px;
    color: #cccccc;
}
.main p:nth-child(7){
    margin-top: 20px;
    padding-left: 135px;
}
.main p:nth-child(7) span:first-child{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 105px;
    margin-right: 90px;
}
.main p:nth-child(7) span:last-child{
    display: inline-block;
    font-size: 16px;
    color: #cccccc;
}
.main p:nth-child(8){
    margin-top: 20px;
    padding-left: 135px;
}
.main p:nth-child(8) span:first-child{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 105px;
    margin-right: 90px;
}





/* main主体结束 */

/* footer开始 */
footer{
    margin-top: 15px;
}
footer p span{
    font-size: 14px;
    margin-right: 10px;
}
footer p{
    width: 1000px;
    line-height: 20px;
    text-align: center;
}
footer p:nth-child(2){
    text-align: center;
    margin-top: 10px;
}
footer p:nth-child(3){
    text-align: center;
    margin-top: 10px;
}
footer p:nth-child(4){
    text-align: center;
    margin-top: 10px;
}
/* footer结束 */
