.w{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-height: 100vh;
    background-color: pink;
    position: relative;
    background: url(http://img.10xunc.com/±¸ÓÃ¼þ/img/bg.jpg) no-repeat center center;
    .logo{
        position: absolute;
        top: 0;
        left: 0;
        width: 312px;
        height: 100px;
        a{
            img{
                width: 80%;
                height: 80%;
            }
        }
    }
    .Box_forget{
        position: absolute;
        width: 540px;
        height: 410px;
        background-color: #fff;
        left: 50%;
        top: 50%;
        margin: -205px 0 0 -270px;
        &>div{
            padding-left: 45px;
        }
        .forget_title{
            height: 125px;
            line-height:125px;
            font-size: 37px;
            text-align: center;
            margin: auto;
        }
        .fg-phone{
            width: 450px;
            height: 65px;
            .iphone{
                width: 100%;
                height: 100%;
                font-size: 25px;
                border: 1px solid #cdcdcd;
                text-indent:1em;
            }
        }
        .fg-code{
            width: 450px;
            height: 65px;
            position: relative;
            .code{
                width: 227px;
                height: 100%;
                border: 1px solid #cdcdcd;
                box-sizing: border-box;
                font-size: 25px;
                text-indent:1em;
                
            }
            .button-second{
                position: absolute;
                right: -2px;
                top: 0;
                width: 225px;
                height: 100%;
                background-color: #c30d23;
                font-size: 25px;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                color: #fff;
                cursor: pointer;
            }
        }
        .fg-button{
            width: 450px;
            height: 68px;
            margin-top: 20px;
            
            button{
                width: 100%;
                height: 100%;
                font-size: 25px;
                color: #fff;
                background-color: #c30d23;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
    .Box_confirm{
        position: absolute;
        width: 540px;
        height: 410px;
        background-color: #fff;
        left: 50%;
        top: 50%;
        margin: -205px 0 0 -270px;
        &>div{
            padding-left: 45px;
        }
        .cf-title{
            height: 100px;
            line-height:125px;
            font-size: 37px;
            text-align: center;
            margin: auto;
        }
        .cf-tip{
            color: #cdcdcd;
            font-size: 22px;
            margin-bottom: 10px;
        }
        .cf-input{
            width: 450px;
            input{
                display: inline-block;
                height: 65px;
                width: 450px;
                border: 1px solid #cdcdcd;
                font-size: 25px;
                text-indent:1em;
                &.newPassword{

                }
                &.resetPassword{
                    margin-top: -1px;
                }
            }
        }
        .cf-conmit{
            width: 450px;
            height: 65px;
            margin-top: 20px;
            
            button{
                width: 100%;
                height: 100%;
                font-size: 25px;
                color: #fff;
                background-color: #c30d23;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}